<mobile-filters inline-template>
	<div class="column is-hidden-tablet is-12">
		<button class="button is-primary is-medium" @click="isComponentModalActive = true">
			Launch component modal
		</button>
		<b-modal :active.sync="isComponentModalActive" can-cancel trap-focus :destroy-on-hide="false" aria-role="dialog"
			width='768' aria-modal>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">Projects Filters</p>
				</header>
				<div class="modal-card-body">
					{% include "modular/sidebar.html.twig" %}
				</div>
				<div class="modal-card-foot">
					<button class="button is-success" @click="isComponentModalActive = false;saveFilters(ev)">Apply
						Filters</button>
					<button class="button" @click="isComponentModalActive = false">Cancel</button>
				</div>
			</div>
		</b-modal>
	</div>

</mobile-filters>
