<!-- list view -->

{% verbatim %}
<progressteps inline-template>
    <div class="progress-steps">
        <div class="steps">
            <div class="step-item " :class="{'is-warning is-active':currentStep<2, 'is-link is-active':currentStep>1}">
                <div class="step-marker">
                    <span class="icon" v-if='currentStep>1'>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <div class="step-details " :class="{'is-primary is-completed':currentStep>1}">
                    <p class="step-title">Your Details</p>
                </div>
            </div>
            <div class="step-item "
                :class="{'is-warning is-active':currentStep===2, 'is-link is-active':currentStep>2}">
                <div class="step-marker">
                    <span class="icon" v-if='currentStep>2'>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <div class="step-details" :class='{"is-primary is-completed": currentStep>2}'>
                    <p class="step-title">Project Details</p>
                </div>
            </div>
            <div class="step-item "
                :class="{'is-warning is-active':currentStep===3, 'is-link is-active':currentStep>3}">
                <div class="step-marker">
                    <span class="icon" v-if='currentStep>3'>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <div class="step-details" :class='{"is-primary is-completed": currentStep>3}'>
                    <p class="step-title">Developers</p>
                </div>
            </div>
            <div class="step-item "
                :class="{'is-warning is-active':currentStep===4, 'is-link is-active':currentStep>4}">
                <div class="step-marker">
                    <span class="icon" v-if='currentStep>4'>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <div class="step-details" :class='{"is-primary is-completed": currentStep>4}'>
                    <p class="step-title">Users</p>
                </div>
            </div>
            <div class="step-item "
                :class="{'is-warning is-active':currentStep===5, 'is-link is-active':submitSuccess}">
                <div class="step-marker">
                    <span class="icon" v-if='submitSuccess'>
                        <i class="fa fa-flag"></i>
                    </span>
                </div>
                <div class="step-details" :class='{"is-primary is-completed": submitSuccess}'>
                    <p class="step-title">Submit</p>
                </div>
            </div>
        </div>
        <validation-observer tag='div' ref='formbuilder' v-slot="{ handleSubmit }">
            <form method="post" action='/pcd/join-us' name='formbuilder' id='formbuilder'
                @submit.prevent="handleSubmit(onSubmit)" id='formbuilder'>
                <b-input type='hidden' name='__form-name__' value='formbuilder' autocomplete='off'></b-input>
                <b-input type='hidden' name='form-nonce' :value='randomNonce' autocomplete='off'></b-input>
                <b-input type='hidden' name='__unique_form_id__' :value='randomId' autocomplete='off'></b-input>
                <div class="step" v-if="currentStep === 1">
                    <validation-provider tag='div' rules="name:3" name="Name" v-slot="{ errors, invalid, valid }">
                        <b-field label="Name">
                            <b-input v-model="form.yourName" type="text" required
                                :class='{"is-danger":invalid,"is-success":valid}' name='data[name]' :value='form.name'>
                            </b-input>
                        </b-field>
                        <span class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></span>
                    </validation-provider>
                    <validation-provider tag='div' rules="required|email" v-slot="{ errors, valid }">
                        <b-field label="Email">
                            <b-input type="email" v-model='form.emailAddress' maxlength="50" :value='form.emailAddress'
                                name='data[email]' required>
                            </b-input>
                        </b-field>
                    </validation-provider>
                    <b-field label="Organisation">
                        <b-input type="text" name='data[organisation]' v-model='form.organisation' maxlength="50"
                            :value='form.organisation'>
                        </b-input>
                    </b-field>
                </div>

                <div class="step" v-show='currentStep === 2'>
                    <validation-provider tag='div' rules="name:3" name="Project Name"
                        v-slot="{ errors, invalid, valid }">
                        <b-field label="Project Name">
                            <b-input type="text" name='data[project_name]' v-model='form.projectName' maxlength="50"
                                :value="form.projectName" required>
                            </b-input>
                        </b-field>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="url_string" v-slot="{ errors, invalid, valid }">
                        <b-field>
                            <template slot="label">
                                Project Website &nbsp;
                                <b-tooltip label="Project website is required" type="is-light">
                                    <b-icon size='is-small' icon='question-circle'></b-icon>
                                </b-tooltip>
                            </template>
                            <b-input type="text" name='data[project_website]' v-model='form.projectWebsite'
                                maxlength="50" :value='form.projectWebsite' required>
                            </b-input>
                        </b-field>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="url_string" name="Repository URL"
                        v-slot="{ errors, invalid, valid }">
                        <b-field label="Repository URL">
                            <b-input type="text" name='data[project_url]' v-model='form.projectUrl' maxlength="50"
                                :value='form.projectUrl' required>
                            </b-input>
                        </b-field>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="alpha_num:2" name="Project Country"
                        v-slot="{ errors, invalid, valid }">
                        <b-tooltip label="eg: Canada" type="is-light" animated>
                            <b-field label="Project Starting Country">
                                <b-input type="text" name='data[project_country]' v-model='form.projectCountry'
                                    maxlength="50" :value='form.projectCountry' required>
                                </b-input>
                            </b-field>
                        </b-tooltip>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="alpha_num:1" name="Project Languages"
                        v-slot="{ errors, invalid, valid }">
                        <b-tooltip label="eg: EN, IT, FR, DE" type="is-light" animated>
                            <b-field label="Project Languages">
                                <b-input type="text" name='data[project_languages]' v-model='form.projectLanguages'
                                    :value='form.projectLanguages' required>
                                </b-input>
                            </b-field>
                        </b-tooltip>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="alpha_num:3" name="Project Type"
                        v-slot="{ errors, invalid, valid }">
                        <b-tooltip label="eg: website, mobile app, platform" type="is-light" animated>
                            <b-field label="Project Type">
                                <b-input type="text" name='data[project_type]' v-model='form.projectType' maxlength="50"
                                    :value='form.projectType' required>
                                </b-input>
                            </b-field>
                        </b-tooltip>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="alpha_num:3" name="Project Licences"
                        v-slot="{ errors, invalid, valid }">
                        <b-tooltip label="eg: MIT, GPL" type="is-light" animated>
                            <b-field label="Project Licence">
                                <b-input type="text" name='data[project_licence]' v-model='form.projectLicence'
                                    maxlength="50" :value='form.projectLicence' required>
                                </b-input>
                            </b-field>
                        </b-tooltip>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="alpha_num:3" name="Project Category"
                        v-slot="{ errors, invalid, valid }">
                        <b-tooltip label="eg: Education Software, Software" type="is-light" animated>
                            <b-field label="Project Category">
                                <b-input type="text" name='data[project_category]' v-model='form.projectCategory'
                                    maxlength="50" :value='form.projectCategory' required>
                                </b-input>
                            </b-field>
                        </b-tooltip>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="alpha_num:3" name="Project Category"
                        v-slot="{ errors, invalid, valid }">
                        <b-tooltip label="eg: Local Government, Public Health" type="is-light" animated>
                            <b-field label="Project Sector">
                                <b-input type="text" name='data[project_sector]' v-model='form.projectSector'
                                    maxlength="50" :value='form.projectSector' required>
                                </b-input>
                            </b-field>
                        </b-tooltip>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>

                    <validation-provider tag='div' rules="minmax:10,350" name="Project Category"
                        v-slot="{ errors, invalid, valid }">

                        <b-field label="Project Description">
                            <b-input type="textarea" name='data[project_description]' v-model='form.projectDescription'
                                maxlength="350" :value='form.projectDescription' required>
                            </b-input>
                        </b-field>
                        <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                    </validation-provider>
                </div>

                <div class="step" v-show='currentStep === 3'>
                    <b-field label='Developers'>
                        <b-button @click.prevent='addDevelopers'>Add Developers</b-button>
                    </b-field>
                    <div v-for='(dev,ind) in form.projectDevelopers' :key='ind'>
                        <hr v-if='ind>=1'>

                        <b-field v-if='ind>=1' class='is-flex justify-end'>
                            <b-button @click.prevent='removeDeveloper(ind)'>Remove Dev</b-button>
                        </b-field>
                        <validation-provider rules="name:3" name="Developer Name" v-slot="{ errors, invalid, valid }">
                            <b-field label="Developer Name">
                                <b-input type="text" :name='`data[project_developers_name][${ind}]`'
                                    v-model='form.projectDevelopers[ind].name' maxlength="50"
                                    :value='form.projectDevelopers[ind].name' required>
                                </b-input>
                            </b-field>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </validation-provider>

                        <validation-provider rules="url_string" name="Developer Website"
                            v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: https://example.com">
                                    <b-field label="Developer Website">
                                        <b-input type="text" :name='`data[project_developers_website][${ind}]`'
                                            v-model='form.projectDevelopers[ind].website' maxlength="50"
                                            :value='form.projectDevelopers[ind].website' required>
                                        </b-input>
                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>

                        <validation-provider rules="url_string" name="Developer Logo URL"
                            v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: https://example.com/logo.png">
                                    <b-field label="Developer Logo URL">
                                        <b-input type="text" :name='`data[project_developers_logo_url][${ind}]`'
                                            v-model='form.projectDevelopers[ind].logoUrl' maxlength="50"
                                            :value='form.projectDevelopers[ind].logoUrl' required>
                                        </b-input>
                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>

                        <validation-provider rules="alpha_num:3" name="Developer Category"
                            v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: Education Software, Software">
                                    <b-field label="Developer Category">
                                        <b-input type="text" :name='`data[project_developers_categ][${ind}]`'
                                            v-model='form.projectDevelopers[ind].category' maxlength="50"
                                            :value='form.projectDevelopers[ind].category' required>
                                        </b-input>
                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>
                    </div>
                    <b-field label='Maintainers'>
                        <b-checkbox v-model='sameAsDevs'>Same as Developers</b-checkbox>
                    </b-field>
                    <div v-if='!sameAsDevs'>
                        <b-field label='Maintainers'>
                            <b-button @click.prevent='addMaintainers'>Add Maintainers</b-button>
                        </b-field>
                        <div v-for='(dev,ind) in form.projectMaintainers' :key='ind'>
                            <hr v-if='ind>=1'>
                            <b-field v-if='ind>=1' class='is-flex justify-end'>
                                <b-button @click.prevent='removeMaintainer(ind)'>Remove Dev</b-button>
                            </b-field>

                            <validation-provider rules="name:3" name="Maintainers Name"
                                v-slot="{ errors, invalid, valid }">
                                <b-field label="Maintainers Name">
                                    <b-input type="text" :name='`data[project_maintainers_name][${ind}]`'
                                        v-model='form.projectMaintainers[ind].name' maxlength="50"
                                        :value='form.projectMaintainers[ind].name' required>
                                    </b-input>
                                </b-field>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </validation-provider>

                            <validation-provider rules="url_string" name="Maintainers Website"
                                v-slot="{ errors, invalid, valid }">
                                <div>
                                    <b-tooltip label="eg: https://example.com">
                                        <b-field label="Maintainers Website">
                                            <b-input type="text" :name='`data[project_maintainers_website][${ind}]`'
                                                v-model='form.projectMaintainers[ind].website' maxlength="50"
                                                :value='form.projectMaintainers[ind].website' required>
                                            </b-input>
                                        </b-field>
                                    </b-tooltip>
                                    <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                                </div>
                            </validation-provider>

                            <validation-provider rules="url_string" name="Maintainers Logo"
                                v-slot="{ errors, invalid, valid }">
                                <div>
                                    <b-tooltip label="eg: https://example.com/logo.png">
                                        <b-field label="Maintainers Logo">
                                            <b-input type="text" :name='`data[project_maintainers_logo_url][${ind}]`'
                                                v-model='form.projectMaintainers[ind].logoUrl' maxlength="50"
                                                :value='form.projectMaintainers[ind].logoUrl' required>
                                            </b-input>
                                        </b-field>
                                    </b-tooltip>
                                    <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                                </div>
                            </validation-provider>

                            <validation-provider rules="alpha_num:3" name="Maintainers Category"
                                v-slot="{ errors, invalid, valid }">
                                <div>
                                    <b-tooltip label="eg: Education Software, Software">
                                        <b-field label="Maintainers Category">
                                            <b-input type="text" :name='`data[project_maintainers_categ][${ind}]`'
                                                v-model='form.projectMaintainers[ind].category' maxlength="50"
                                                :value='form.projectMaintainers[ind].category' required>
                                            </b-input>
                                        </b-field>
                                    </b-tooltip>
                                    <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                                </div>
                            </validation-provider>

                        </div>
                    </div>


                </div>

                <div class="step" v-show='currentStep === 4'>
                    <b-field label='Users'>
                        <b-button @click.prevent='addUsers'>Add Users</b-button>
                    </b-field>
                    <div v-for='(dev,ind) in form.projectUsers' :key='ind'>
                        <hr v-if='ind>=1'>
                        <b-field v-if='ind>=1' class='is-flex justify-end'>
                            <b-button @click.prevent='removeUser(ind)'>Remove Dev</b-button>
                        </b-field>


                        <validation-provider rules="name:3" name="Users Name" v-slot="{ errors, invalid, valid }">
                            <b-field label="Users Name">
                                <b-input type="text" v-model='dev.name' maxlength="50"
                                    :name="`data[project_users_name][${ind}]`" :value='dev.name' required>
                                </b-input>
                            </b-field>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </validation-provider>

                        <validation-provider rules="url_string" name="Users Website"
                            v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: https://example.com">
                                    <b-field label="Users Website">
                                        <b-input type="text" v-model='dev.website' maxlength="50"
                                            :name="`data[project_users_website][${ind}]`" :value='dev.website' required>
                                        </b-input>
                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>

                        <validation-provider rules="url_string" name="Users Logo URL"
                            v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: https://example.com/logo.png">
                                    <b-field label="Users Logo">
                                        <b-input type="text" v-model='dev.logoUrl' maxlength="50"
                                            :name="`data[project_users_logo_url][${ind}]`" :value='dev.logoUrl'
                                            required>
                                        </b-input>
                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>

                        <validation-provider rules="alpha_num:3" name="Users Category"
                            v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: Education Software, Software">
                                    <b-field label="Users Category">
                                        <b-input type="text" v-model='dev.category' maxlength="50"
                                            :name="`data[project_users_category][${ind}]`" :value='dev.category'
                                            required>
                                        </b-input>
                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>
                        <validation-provider rules="latlong" name="User Location" v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: Latitude required for map placement">
                                    <b-field label="User Location Latitude">
                                        <b-input type="text" v-model='dev.location.latitude' maxlength="10"
                                            :name="`data[project_users_location_latitude][${ind}]`"
                                            :value='dev.location.latitude' required>
                                        </b-input>


                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>
                        <validation-provider rules="latlong" name="User Location" v-slot="{ errors, invalid, valid }">
                            <div>
                                <b-tooltip label="eg: Longitude required for map placement">
                                    <b-field label="User Location Longitude">
                                        <b-input type="text" v-model='dev.location.longitude' maxlength="10"
                                            :name="`data[project_users_location_longitude][${ind}]`"
                                            :value='dev.location.longitude' required>
                                        </b-input>

                                    </b-field>
                                </b-tooltip>
                                <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                            </div>
                        </validation-provider>



                    </div>

                </div>
                <div class="step" v-show='currentStep === 5'>
                    <div v-for='(dev,ind) in form.projectUsers' :key='ind'>
                        <hr v-if='ind>=1'>
                        <b-field label="Users Name">
                            <b-input type="text" v-model='dev.name' readonly maxlength="50" :value='form.yourName'
                                required>
                            </b-input>
                        </b-field>

                        <div>
                            <b-tooltip label="eg: https://example.com">
                                <b-field label="Users Website">
                                    <b-input type="text" v-model='dev.website' readonly maxlength="50"
                                        :value='dev.website' required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                        </div>


                        <div>
                            <b-tooltip label="eg: https://example.com/logo.png">
                                <b-field label="Users Logo" readonly>
                                    <b-input type="text" v-model='dev.logoUrl' maxlength="50" :value='dev.logoUrl'
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                        </div>

                        <div>
                            <b-tooltip label="eg: Education Software, Software">
                                <b-field label="Users Category">
                                    <b-input type="text" v-model='dev.category' readonly maxlength="50"
                                        :value='dev.category' required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                        </div>

                        <div>
                            <b-tooltip label="eg: Latitude required for map placement">
                                <b-field label="User Location Latitude">
                                    <b-input type="text" readonly v-model='dev.location.latitude' maxlength="10"
                                        :value="dev.location.latitude" required>
                                    </b-input>


                                </b-field>
                            </b-tooltip>
                        </div>

                        <div>
                            <b-tooltip label="eg: Longitude required for map placement">
                                <b-field label="User Location Longitude">
                                    <b-input readonly type="text" v-model='dev.location.longitude' maxlength="10"
                                        :value="dev.location.longitude" required>
                                    </b-input>

                                </b-field>
                            </b-tooltip>
                        </div>



                    </div>

                </div>

                <b-field class=' is-between pt-5' v-show='currentStep < 6'>
                    <b-button outlined type="is-primary" @click.prevent='backToStep' :disabled='currentStep===1'>
                        Prev Step
                    </b-button>
                    <button type="submit" class="button is-primary is-outlined" v-if='currentStep<4'>
                        Next Step
                    </button>
                    <button type="submit" v-else-if='currentStep===4' class="button is-primary is-outlined">
                        Review Information
                    </button>
                    <button type="submit" id='submitbtn' v-else class="button is-primary is-outlined">
                        Submit Form
                    </button>
                </b-field>
            </form>
        </validation-observer>
        <b-loading :active.sync="sendingForm" :can-cancel="false"></b-loading>
        <div class="step" v-show='submitSuccess' id='form-result'>
            <div id="">Thanks for the email. We will analyze it and add it to our databse</div>
        </div>
        <b-modal :active.sync="projectDevelopersModalActive" has-modal-card trap-focus aria-role="dialog" aria-modal>
            <div class="modal-card" style="width: auto">
                <section class="modal-card-body">
                    <b-field label="Developer Name">
                        <b-input type="text" v-model='tempFormData.name' value="" required>
                        </b-input>
                    </b-field>

                    <validation-provider rules="url_string" name="Developer Website"
                        v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: https://example.com">
                                <b-field label="Developer Website">
                                    <b-input type="text" v-model='tempFormData.website' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                    <validation-provider rules="url_string" name="Developer Logo URL"
                        v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: https://example.com/logo.png">
                                <b-field label="Developer Logo">
                                    <b-input type="text" v-model='tempFormData.logoUrl' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                    <validation-provider rules="alpha_num:3" name="Developer Category"
                        v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: Education Software, Software">
                                <b-field label="Developer Category">
                                    <b-input type="text" v-model='tempFormData.category' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click.prevent="closeModal">Close</button>
                    <button class="button is-primary" @click.prevent="saveDeveloper()">
                        Add Developer
                    </button>
                </footer>
            </div>
        </b-modal>
        <b-modal :active.sync="projectMaintainersModalActive" has-modal-card trap-focus aria-role="dialog" aria-modal>
            <div class="modal-card" style="width: auto">
                <section class="modal-card-body">
                    <b-field label="Maintainer Name">
                        <b-input type="text" v-model='tempFormData.name' value="" required>
                        </b-input>
                    </b-field>

                    <validation-provider rules="url_string" name="Maintainer Website"
                        v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: https://example.com">
                                <b-field label="Maintainer Website">
                                    <b-input type="text" v-model='tempFormData.website' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                    <validation-provider rules="url_string" name="Maintainer Logo URL"
                        v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: https://example.com/logo.png">
                                <b-field label="Maintainer Logo">
                                    <b-input type="text" v-model='tempFormData.logoUrl' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                    <validation-provider rules="alpha_num:3" name="Maintainer Category"
                        v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: Education Software, Software">
                                <b-field label="Maintainer Category">
                                    <b-input type="text" v-model='tempFormData.category' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click.prevent="closeModal">Close</button>
                    <button class="button is-primary" @click.prevent="saveMaintainer()">
                        Add Developer
                    </button>
                </footer>
            </div>
        </b-modal>
        <b-modal :active.sync="projectUsersModalActive" has-modal-card trap-focus aria-role="dialog" aria-modal>
            <div class="modal-card" style="width: auto">
                <section class="modal-card-body">
                    <b-field label="User Name">
                        <b-input type="text" v-model='tempFormData.name' value="" required>
                        </b-input>
                    </b-field>

                    <validation-provider rules="url_string" name="User Website" v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: https://example.com">
                                <b-field label="User Website">
                                    <b-input type="text" v-model='tempFormData.website' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>


                    <validation-provider rules="url_string" name="User Logo URL" v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: https://example.com.logo.png">
                                <b-field label="User Logo">
                                    <b-input type="text" v-model='tempFormData.logoUrl' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                    <validation-provider rules="alpha_num:3" name="User Category" v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: City Council, Library, Local Government">
                                <b-field label="User Category">
                                    <b-input type="text" v-model='tempFormData.category' maxlength="50" value=""
                                        required>
                                    </b-input>
                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                    <validation-provider rules="latlong" name="User Location" v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: Latitude required for map placement">
                                <b-field label="User Location Latitude">
                                    <b-input type="text" v-model='tempFormData.location.latitude' maxlength="10"
                                        value="" required>
                                    </b-input>


                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>
                    <validation-provider rules="latlong" name="User Location" v-slot="{ errors, invalid, valid }">
                        <div>
                            <b-tooltip label="eg: Longitude required for map placement">
                                <b-field label="User Location Longitude">
                                    <b-input type="text" v-model='tempFormData.location.longitude' maxlength="10"
                                        value="" required>
                                    </b-input>

                                </b-field>
                            </b-tooltip>
                            <p class='has-text-danger ' v-if='errors.length'><small>${ errors[0] }</small></p>
                        </div>
                    </validation-provider>

                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click.prevent="closeModal">Close</button>
                    <button class="button is-primary" @click.prevent="saveUser()">
                        Add User
                    </button>
                </footer>
            </div>
        </b-modal>
    </div>
</progressteps>
{% endverbatim %}
