{% verbatim %}
<totalproducts inline-template>
	<p class='subtitle'>
		We index a total of
		<span class="is-size-3"> ${ totalProducts }
		</span> products, used by
		<span class="is-size-3">
			${ totalUsers }
		</span> users worldwide.
	</p>
</totalproducts>
{% endverbatim %}
